spring:
  application:
    name: consignado-simulation-service

  datasource:
    url: jdbc:postgresql://localhost:5433/simulation_db
    username: simulation
    password: simulation123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8081
