spring:
  application:
    name: consignado-simulation-service

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms

server:
  port: 8081

logging:
  level:
    com.consignadohub: DEBUG

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html